{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
	<title>PAGE TITLE</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="http://resana-co.com/Content/site/Images/logo.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
		integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons-v1.0.0/icon-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/MagnificPopup/magnific-popup.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


	<!--===============================================================================================-->
</head>

<body class="animsition">
	<!-- Header -->
	<header>

		<!-- Header desktop -->
		<div class="container-menu-desktop">

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container hover-underline-menu" data-menu-underline-from-center>

					<!-- Logo desktop -->
					<a href="/" class="logo">
						<img src="http://resana-co.com/Content/site/Images/logo.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu menu align-center mynavbar">
							<li class="active">
								<a href="/">خانه</a>
							</li>

							<li>
								<a href="/product/">محصولات</a>
							</li>

							<!-- <li class="label1" data-label1="hot">
								<a href="shoping-cart.html">Features</a>
							</li> -->

							<li>
								<a href="#!">درباره شرکت</a>
							</li>

							<li>
								<a href="/contactus/">تماس با ما</a>
							</li>


						</ul>
					</div>
					<!-- header modal login btn -->
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">ورود به سایت</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form>
										<div class="form-group">
											<label for="username" class="col-form-label"><i
													class="zmdi zmdi-account-circle"></i>
												نام کاربری </label>
											<input type="text" class="form-control" id="username" required>
										</div>
										<div class="form-group">
											<label for="password" class="col-form-label"><i class="zmdi zmdi-key"></i>
												کلمه عبور</label>
											<input type="password" class="form-control" id="password" required>
										</div>
										<a href="/signup/"><button type="button" class="btn btn-warning">حساب کاربری
												ندارم !</button></a> 

								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-info" style="width:25%">ورود</button>
								</div>
								</form>

							</div>
						</div>
					</div>


					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<div class="my-header-btn">
							<button type="button" class="btn btn-info" data-toggle="modal"
								data-target="#exampleModal">ورود</button>
							<a href="/signup/"><button type="button" class="btn btn-secondary ">عضویت</button></a> 
						</div>
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>

						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart"
							data-notify="2">
							<i class="zmdi zmdi-shopping-cart"></i>
						</div>


					</div>

				</nav>

			</div>
		</div>


		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="/"><img src="http://resana-co.com/Content/site/Images/logo.png" alt="IMG-LOGO"></a>
				<h5>رسانا الکترونیک</h5>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>

				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart"
					data-notify="2">
					<i class="zmdi zmdi-shopping-cart"></i>
				</div>


			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">

			<ul class="main-menu-m">
				<li>
					<a href="/">خانه</a>
				</li>

				<li>
					<a href="/product/">محصولات</a>
				</li>

				<!-- <li>
					<a href="shoping-cart.html" class="label1 rs1" data-label1="hot">Features</a>
				</li> -->

				<li>
					<a href="#!">درباره شرکت</a>
				</li>

				<li>
					<a href="/contactus/">تماس با ما</a>
				</li>

			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button  6 class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="/static/images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="جست و جو ...">
				</form>
			</div>
		</div>
	</header>

	
<style>
	/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: IRANSans-Regular;
  src: url('/app_main/static/'); 
}

@font-face {
  font-family: IRANSans-Light;
  src: url('{% static 'fonts/IRANSans/IRANSansWeb_Light.ttf' %}'); 
}

@font-face {
  font-family: IRANSans-ExtraLight;
  src: url('{% static 'fonts/IRANSans/IRANSansWeb_UltraLight.ttf' %}'); 
}

@font-face {
  font-family: IRANSans-Medium;
  src: url('{% static 'fonts/IRANSans/IRANSansWeb_Medium.ttf' %}'); 
}


@font-face {
  font-family: IRANSans-Bold;
  src: url('{% static 'fonts/IRANSans/IRANSansWeb_Bold.ttf' %}'); 
}

@font-face {
  font-family: IRANSans-SemiBold;
  src: url('{% static 'fonts/IRANSans/IRANSansWeb_Black.ttf' %}'); 
}


/*---------------------------------------------*/

</style>

{% block content %}  {% endblock content %}





	<!-- Footer -->
	<br>
	<br>
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50 col-6">
					<h4 class="stext-301 cl0 p-b-30">
						دسته بندی ها
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								خازن
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								باطری
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								برد الکترونیک
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								محافظ برق
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50 col-6">
					<h4 class="stext-301 cl0 p-b-30">
						محصولات
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								جدید ترین
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								محبوب ترین
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								پرفروش ترین
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								پیشنهادی
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50 myfooter_item">
					<h4 class="stext-301 cl0 p-b-30">
						درباره شرکت
					</h4>

					<p class="stext-107 cl7 size-201">
						رسانا الکترونیک با فراهم آوردن مجموعه ای از قطعات الکترونیک و انواع کابل و کانکتور توانسته به
						مقدار زیادی از نیازهای داخلی را پاسخ دهد. </p>

					<div class="p-t-27 social-icon-footer">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-twitter"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-telegram"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50 myfooter_item">
					<h4 class="stext-301 cl0 p-b-30">
						تماس با ما
					</h4>
					<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
						09195317431
						<i class="fa fa-phone"></i>
					</a>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img class="footer-img"
							src="https://iranitarh.com/blog/wp-content/uploads/2018/06/42c6d-What-is-enamad.png"
							alt="ICON-Electeronic">
					</a>

					<a href="#" class="m-all-1">
						<img class="footer-img" src="https://tidaweb.com/wp-content/uploads/zarinpal-badge.png"
							alt="ICON-Zarrin Paal">
					</a>

					<a href="#" class="m-all-1">
						<img class="footer-img" src="https://icon-library.net/images/django-icon/django-icon-0.jpg"
							alt="ICON-Django">
					</a>

				</div>

				<p class="stext-107 cl0 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;<script>
						document.write(new Date().getFullYear());
					</script> All rights reserved | تمامی حق و حقوق این سایت متعلق به شرکت <a class="cl13"
						href="/">رسانا الکترونیک</a> است و هر گونه کپی برداری پیگرد قانونی دارد. <i
						class="zmdi zmdi-shield-check"></i>
					طراحی شده توسط <a class="cl13" href="https://google.com" target="_blank">تیم گاما</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"> </i>
		</span>
	</div>



	<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{vendor/select2/select2.min.js}"></script>
	<script>
		$(".js-select2").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>



	<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/slick/slick.min.js' %}"></script>
	<script src="{% static 'js/slick-custom.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/parallax100/parallax100.js' %}"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
	<script>
		$('.gallery-lb').each(function () { // the containers for all your galleries
			$(this).magnificPopup({
				delegate: 'a', // the selector for gallery item
				type: 'image',
				gallery: {
					enabled: true
				},
				mainClass: 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/isotope/isotope.pkgd.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script>
		$('.js-addwish-b2').on('click', function (e) {
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function () {
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function () {
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function () {
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function () {
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function () {
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function () {
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>

</html>