{% extends "base2.html" %}

{% load static %}



{% block background1 %}
	background: url('{% static 'images/contactus_back.jpg' %}') center center ;
	background-size: cover;
{% endblock background1 %}

{% block content %}

<br class="hide-in-mobile">
<br class="hide-in-mobile">



<div class="container m-t-100">
	<nav aria-label="breadcrumb">
					
			<ol class="breadcrumb">
					<p> <i class="fa fa-caret-left" aria-hidden="true"></i> شما اینجا هستید:  &nbsp  &nbsp </p> 
			<li class="breadcrumb-item"><a href="/" class="text-primary">خانه</a></li>
			<li class="breadcrumb-item active" aria-current="page">تماس با ما</li>
			</ol>
		</nav>
	</div>
	<!-- signup  -->
	<div class="limiter m-t-0" dir="ltr">
		<div class="container-login100  ">
			
			<div class="wrap-login100  ">
				<!-- <div class="login100-pic js-tilt" data-tilt>
					<img src="login/images/img-01.png" alt="IMG">
				</div> -->

				<form class="login100-form validate-form" dir="rtl">
					<div class="row">
						<span class="login100-form-title">
								<i class="fa fa-phone-square" aria-hidden="true"></i>
							تماس با ما
						</span>
						<div class="col-lg-12 col-md-12 sm-12 col-12">
							<div class="mylable">
								<h6>عنوان پیام</h6>
							</div>
							<div class="wrap-input100 validate-input" data-validate="&nbsp; عنوان را وارد نمایید">
								<input class="input100" type="text" name="subject">
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-sticky-note-o my_fa" aria-hidden="true"></i>
								</span>

							</div>

							<div class="mylable">
								<h6>پیام شما</h6>
							</div>
							<div class="wrap-input100 validate-input"
								data-validate="&nbsp;پیام نمی تواند خالی باشد">
								<textarea class="input100 mytextarea" type="text" name="text"></textarea>
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-comment my_fa" aria-hidden="true"></i>
								</span>
							</div>

						</div>

						<div class="container-login100-form-btn">
							<button class="login100-form-btn" style="width: 50%">
								ارسال کن
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<!-- header modal login btn -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">ورود به سایت</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="username" class="col-form-label"><i class="zmdi zmdi-account-circle"></i>
								نام کاربری </label>
							<input type="text" class="form-control" id="username" required>
						</div>
						<div class="form-group">
							<label for="password" class="col-form-label"><i class="zmdi zmdi-key"></i>
								کلمه عبور</label>
							<input type="password" class="form-control" id="password" required>
						</div>
						<button type="button" class="btn btn-warning" data-dismiss="modal">حساب کاربری
							ندارم !</button>

				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-info" style="width:25%">ورود</button>
				</div>
				</form>

			</div>
		</div>
	</div>


{% endblock content %}
