{% extends "base.html" %}

{% load static %}


{% block content %} 
	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1 index-slide" style="background: url(/static/images/index_back.png) center center no-repeat; background-size: cover; height: 725px;">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5 center">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-101 cl2 respon2 index-slide-text">
									به رسانا الکترونیک خوش اومدی قشنگم
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h3 class="ltext-201 cl2 p-t-19 p-b-43 respon1 index-slide-text">
									محصولات جدید به روز رسانی شده اند
								</h3>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a href="#myproduct-index" id="top">
									<button type="button" class="btn btn-info" style="padding: 13px">
										همین الان خرید کن

									</button>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- 
				<div class="item-slick1" style="background-image: url(images/slide-02.jpg);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Men New-Season
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									Jackets & Coats
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
								<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url(images/slide-03.jpg);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Men Collection 2018
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									New arrivals
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
								<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div> -->


			</div>
		</div>
	</section>


	<!-- Banner -->
	<!-- <div class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto"> -->

	<!-- Block1 -->

	<!-- <div class="block1 wrap-pic-w">
						<img src="images/banner-01.jpg" alt="IMG-BANNER">

						<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Women
								</span>

								<span class="block1-info stext-102 trans-04">
									Spring 2018
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto"> -->

	<!-- Block1 -->

	<!-- <div class="block1 wrap-pic-w">
						<img src="images/banner-02.jpg" alt="IMG-BANNER">

						<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Men
								</span>

								<span class="block1-info stext-102 trans-04">
									Spring 2018
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto"> -->

	<!-- Block1 -->

	<!-- <div class="block1 wrap-pic-w">
						<img src="images/banner-03.jpg" alt="IMG-BANNER">

						<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Accessories
								</span>

								<span class="block1-info stext-102 trans-04">
									New Trend
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div> -->


	<!-- product slider best version -->
<div id = 'myproduct-index'></div>
	<br>
	<br class="hide-in-mobile">
	<br class="hide-in-mobile">
	<br class="hide-in-mobile">


	<!-- NEW PRODUCT for DESKTOP -->
	<section class="container p-t-3 hide-in-mobile">
		<div class="row">
			<div class="col-lg-12">
				<h2><i class="fa fa-shopping-basket"></i> جدیدترین محصولات</h2>
				<br>
			</div>
		</div>
	</section>
	<section class="carousel slide hide-in-mobile" data-ride="carousel" id="postsCarousel">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-md-right lead">
					<a class="btn btn-outline-secondary next " style=" float: left ; margin: 8px 10px 8px 10px"
						href=""><i class="fa fa-lg fa-chevron-left"></i></a>
					<a class="btn btn-outline-secondary prev " style=" float: left ; margin: 8px 10px 8px 10px"
						href=""><i class="fa fa-lg fa-chevron-right"></i></a>
				</div>
			</div>
		</div>
		<div class="container p-t-0 m-t-2 carousel-inner product-slider" dir="ltr">
			<div class="row row-equal carousel-item active m-t-0">
				<div class="col-md-3 col-sm-4 col-4">
					<div class="product-grid6">
						<div class="product-image6">
							<a href="#">
								<img class="pic-1" src="images/product-slider/1.jpg">
							</a>
						</div>
						<div class="product-content">
							<h5 class="title card-title"><a href="#">شامپو بزرگسال سعیدی</a></h5>
							<div class="price">169,000 تومان
								<span>280,000 تومان</span>
							</div>
						</div>
						<ul class="social">
							<li><a href="" data-tip="اطلاعات بیشتر"><i class="fa fa-search"></i></a></li>
							<li><a href="" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-sm-4 col-mb-2 col-4">
					<div class="product-grid6">
						<div class="product-image6">
							<a href="#">
								<img class="pic-1" src="images/product-slider/2.jpg">
							</a>
						</div>
						<div class="product-content">
							<h5 class="title card-title"><a href="#">شامپو بزرگسال سعیدی</a></h3>
							<div class="price">169,000 تومان
								<span>280,000 تومان</span>
							</div>
						</div>
						<ul class="social">
							<li><a href="" data-tip="اطلاعات بیشتر"><i class="fa fa-search"></i></a></li>
							<li><a href="" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-sm-4 col-4">
					<div class="product-grid6">
						<div class="product-image6">
							<a href="#">
								<img class="pic-1" src="images/product-slider/3.jpg">
							</a>
						</div>
						<div class="product-content">
							<h5 class="title card-title"><a href="#">شامپو بزرگسال سعیدی</a></h3>
							<div class="price">169,000 تومان
								<span>280,000 تومان</span>
							</div>
						</div>
						<ul class="social">
							<li><a href="" data-tip="اطلاعات بیشتر"><i class="fa fa-search"></i></a></li>
							<li><a href="" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="product-grid6">
						<div class="product-image6">
							<a href="#">
								<img class="pic-1" src="images/product-slider/4.jpg">
							</a>
						</div>
						<div class="product-content">
							<h5 class="title card-title"><a href="#">شامپو بزرگسال سعیدی</a></h3>
							<div class="price">169,000 تومان
								<span>280,000 تومان</span>
							</div>
						</div>
						<ul class="social">
							<li><a href="" data-tip="اطلاعات بیشتر"><i class="fa fa-search"></i></a></li>
							<li><a href="" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row row-equal carousel-item m-t-0">
				<div class="col-md-3 col-sm-4">
					<div class="product-grid6">
						<div class="product-image6">
							<a href="#">
								<img class="pic-1" src="images/product-slider/5.jpg">
							</a>
						</div>
						<div class="product-content">
							<h5 class="title card-title"><a href="#">شامپو بزرگسال سعیدی</a></h3>
							<div class="price">169,000 تومان
								<span>280,000 تومان</span>
							</div>
						</div>
						<ul class="social">
							<li><a href="" data-tip="اطلاعات بیشتر"><i class="fa fa-search"></i></a></li>
							<li><a href="" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="product-grid6">
						<div class="product-image6">
							<a href="#">
								<img class="pic-1" src="images/product-slider/6.jpg">
							</a>
						</div>
						<div class="product-content">
							<h5 class="title card-title"><a href="#">شامپو بزرگسال سعیدی</a></h3>
							<div class="price">169,000 تومان
								<span>280,000 تومان</span>
							</div>
						</div>
						<ul class="social">
							<li><a href="" data-tip="اطلاعات بیشتر"><i class="fa fa-search"></i></a></li>
							<li><a href="" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="product-grid6">
						<div class="product-image6">
							<a href="#">
								<img class="pic-1" src="images/product-slider/7.jpg">
							</a>
						</div>
						<div class="product-content">
							<h5 class="title card-title"><a href="#">شامپو بزرگسال سعیدی</a></h3>
							<div class="price">169,000 تومان
								<span>280,000 تومان</span>
							</div>
						</div>
						<ul class="social">
							<li><a href="" data-tip="اطلاعات بیشتر"><i class="fa fa-search"></i></a></li>
							<li><a href="" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="product-grid6">
						<div class="product-image6">
							<a href="#">
								<img class="pic-1" src="images/product-slider/8.jpg">
							</a>
						</div>
						<div class="product-content">
							<h5 class="title card-title"><a href="#">شامپو بزرگسال سعیدی</a></h5>
							<div class="price">169,000 تومان
								<span>280,000 تومان</span>
							</div>
						</div>
						<ul class="social">
							<li><a href="" data-tip="اطلاعات بیشتر"><i class="fa fa-search"></i></a></li>
							<li><a href="" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<!-- Load more -->
		<div class="flex-c-m flex-w w-full">
			<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
				مشاهده همه
			</a>
		</div>
		<br>
	</section>


	<!-- NEW PRODUCT for Tablet -->
	<section class="container p-t-3 hide-in-desktop">
		<div class="row">
			<div class="col-lg-12">
				<h2><i class="fa fa-shopping-basket"></i> جدیدترین محصولات</h2>
				<br>
			</div>
		</div>
	</section>
	<section class="carousel slide hide-in-desktop" data-ride="carousel" id="postsCarousel">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-md-right lead">
					<a class="btn btn-outline-secondary next " style=" float: left ; margin: 8px 10px 8px 10px"
						href=""><i class="fa fa-lg fa-chevron-left"></i></a>
					<a class="btn btn-outline-secondary prev " style=" float: left ; margin: 8px 10px 8px 10px"
						href=""><i class="fa fa-lg fa-chevron-right"></i></a>
				</div>
			</div>
		</div>
		<div class="container p-t-0 m-t-2 carousel-inner product-slider" dir="ltr">
			<div class="row row-equal carousel-item active m-t-0">
				<div class="col-md-3 col-sm-4 col-4">
					<div class="product-grid6">
						<div class="product-image6">
							<a href="#">
								<img class="pic-1" src="images/product-slider/1.jpg">
							</a>
						</div>
						<div class="product-content">
							<h3 class="title card-title"><a href="#">شامپو بزرگسال سعیدی</a></h3>
							<div class="price">169,000 تومان
								<span>280,000 تومان</span>
							</div>
						</div>
						<ul class="social">
							<li><a href="" data-tip="اطلاعات بیشتر"><i class="fa fa-search"></i></a></li>
							<li><a href="" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-sm-4 col-mb-2 col-4">
					<div class="product-grid6">
						<div class="product-image6">
							<a href="#">
								<img class="pic-1" src="images/product-slider/2.jpg">
							</a>
						</div>
						<div class="product-content">
							<h3 class="title card-title"><a href="#">شامپو بزرگسال سعیدی</a></h3>
							<div class="price">169,000 تومان
								<span>280,000 تومان</span>
							</div>
						</div>
						<ul class="social">
							<li><a href="" data-tip="اطلاعات بیشتر"><i class="fa fa-search"></i></a></li>
							<li><a href="" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-sm-4 col-4">
					<div class="product-grid6">
						<div class="product-image6">
							<a href="#">
								<img class="pic-1" src="images/product-slider/3.jpg">
							</a>
						</div>
						<div class="product-content">
							<h3 class="title card-title"><a href="#">شامپو بزرگسال سعیدی</a></h3>
							<div class="price">169,000 تومان
								<span>280,000 تومان</span>
							</div>
						</div>
						<ul class="social">
							<li><a href="" data-tip="اطلاعات بیشتر"><i class="fa fa-search"></i></a></li>
							<li><a href="" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
				</div>

			</div>
			<div class="row row-equal carousel-item m-t-0">
				<div class="col-md-3 col-sm-4">
					<div class="product-grid6">
						<div class="product-image6">
							<a href="#">
								<img class="pic-1" src="images/product-slider/4.jpg">
							</a>
						</div>
						<div class="product-content">
							<h3 class="title card-title"><a href="#">شامپو بزرگسال سعیدی</a></h3>
							<div class="price">169,000 تومان
								<span>280,000 تومان</span>
							</div>
						</div>
						<ul class="social">
							<li><a href="" data-tip="اطلاعات بیشتر"><i class="fa fa-search"></i></a></li>
							<li><a href="" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-4">
					<div class="product-grid6">
						<div class="product-image6">
							<a href="#">
								<img class="pic-1" src="images/product-slider/5.jpg">
							</a>
						</div>
						<div class="product-content">
							<h3 class="title card-title"><a href="#">شامپو بزرگسال سعیدی</a></h3>
							<div class="price">169,000 تومان
								<span>280,000 تومان</span>
							</div>
						</div>
						<ul class="social">
							<li><a href="" data-tip="اطلاعات بیشتر"><i class="fa fa-search"></i></a></li>
							<li><a href="" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="product-grid6">
						<div class="product-image6">
							<a href="#">
								<img class="pic-1" src="images/product-slider/6.jpg">
							</a>
						</div>
						<div class="product-content">
							<h3 class="title card-title"><a href="#">شامپو بزرگسال سعیدی</a></h3>
							<div class="price">169,000 تومان
								<span>280,000 تومان</span>
							</div>
						</div>
						<ul class="social">
							<li><a href="" data-tip="اطلاعات بیشتر"><i class="fa fa-search"></i></a></li>
							<li><a href="" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
				</div>

			</div>

			<div class="row row-equal carousel-item m-t-0">
				<div class="col-md-3 col-sm-4">
					<div class="product-grid6">
						<div class="product-image6">
							<a href="#">
								<img class="pic-1" src="images/product-slider/7.jpg">
							</a>
						</div>
						<div class="product-content">
							<h3 class="title card-title"><a href="#">شامپو بزرگسال سعیدی</a></h3>
							<div class="price">169,000 تومان
								<span>280,000 تومان</span>
							</div>
						</div>
						<ul class="social">
							<li><a href="" data-tip="اطلاعات بیشتر"><i class="fa fa-search"></i></a></li>
							<li><a href="" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-4">
					<div class="product-grid6">
						<div class="product-image6">
							<a href="#">
								<img class="pic-1" src="images/product-slider/8.jpg">
							</a>
						</div>
						<div class="product-content">
							<h3 class="title card-title"><a href="#">شامپو بزرگسال سعیدی</a></h3>
							<div class="price">169,000 تومان
								<span>280,000 تومان</span>
							</div>
						</div>
						<ul class="social">
							<li><a href="" data-tip="اطلاعات بیشتر"><i class="fa fa-search"></i></a></li>
							<li><a href="" data-tip="اضافه به سبد خرید"><i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
				</div>



			</div>

		</div>
		<!-- Load more -->
		<div class="flex-c-m flex-w w-full">
			<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
				مشاهده همه
			</a>
		</div>
		<br>
	</section>



	<!-- NEW PRODUCT for Mobile -->
	<section class="container p-t-3 just-mobile">
		<div class="row">
			<div class="col-lg-12">
				<h2><i class="fa fa-shopping-basket"></i> جدیدترین محصولات</h2>
				<br>
			</div>
		</div>
	</section>
	<section class="carousel slide just-mobile" data-ride="carousel" id="postsCarousel">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-md-right lead">
					<a class="btn btn-outline-secondary next " style=" float: left ; margin: 8px 10px 8px 10px"
						href=""><i class="fa fa-lg fa-chevron-left"></i></a>
					<a class="btn btn-outline-secondary prev " style=" float: left ; margin: 8px 10px 8px 10px"
						href=""><i class="fa fa-lg fa-chevron-right"></i></a>
				</div>
			</div>
		</div>
		<div class="container p-t-0 m-t-2 carousel-inner product-slider" dir="ltr">
			<div class="row row-equal carousel-item active m-t-0">
				<div class="col-md-3 col-sm-4 col-6">
					<div class="card">
						<img class="d-block img-fluid"
							src="images/product-slider/1.jpg"
							class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title center"> شامپو بچه سعیدی</h5>
							<br>
							<p class="card-text text-danger center">
								250,000 تومان</p>
							<hr>
							<a class="mybtn-1" href="#"><button type="button" class="btn btn-success"> اضافه به سبد </button></a>
							<a class="mybtn-1" href="#"><button type="button" class="btn btn-primary">اطلاعات بیشتر</button></a>

						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-4 col-6">
						<div class="card">
							<img class="d-block img-fluid"
								src="images/product-slider/2.jpg"
								class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title center"> شامپو بچه سعیدی</h5>
								<br>
								<p class="card-text text-danger center">
									250,000 تومان</p>
								<hr>
								<a class="mybtn-1" href="#"><button type="button" class="btn btn-success"> اضافه به سبد </button></a>
								<a class="mybtn-1" href="#"><button type="button" class="btn btn-primary">اطلاعات بیشتر</button></a>
	
							</div>
						</div>
					</div>

			</div>
			<div class="row row-equal carousel-item m-t-0">
					<div class="col-md-3 col-sm-4 col-6">
							<div class="card">
								<img class="d-block img-fluid"
									src="images/product-slider/3.jpg"
									class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title center"> شامپو بچه سعیدی</h5>
									<br>
									<p class="card-text text-danger center">
										250,000 تومان</p>
									<hr>
									<a class="mybtn-1" class="mybtn-1" href="#"><button type="button" class="btn btn-success"> اضافه به سبد </button></a>
									<a class="mybtn-1" class="mybtn-1" href="#"><button type="button" class="btn btn-primary">اطلاعات بیشتر</button></a>
		
								</div>
							</div>
						</div>
					<div class="col-md-3 col-sm-4 col-6">
							<div class="card">
								<img class="d-block img-fluid"
									src="images/product-slider/4.jpg"
									class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title center"> شامپو بچه سعیدی</h5>
									<br>
									<p class="card-text text-danger center">
										250,000 تومان</p>
									<hr>
									<a class="mybtn-1" href="#"><button type="button" class="btn btn-success"> اضافه به سبد </button></a>
									<a class="mybtn-1" href="#"><button type="button" class="btn btn-primary">اطلاعات بیشتر</button></a>
		
								</div>
							</div>
						</div>

			</div>

			<div class="row row-equal carousel-item m-t-0">
					<div class="col-md-3 col-sm-4 col-6">
							<div class="card">
								<img class="d-block img-fluid"
									src="images/product-slider/5.jpg"
									class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title center"> شامپو بچه سعیدی</h5>
									<br>
									<p class="card-text text-danger center">
										250,000 تومان</p>
									<hr>
									<a href="#"><button type="button" class="btn btn-success"> اضافه به سبد </button></a>
									<a href="#"><button type="button" class="btn btn-primary">اطلاعات بیشتر</button></a>
		
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-4 col-6">
								<div class="card">
									<img class="d-block img-fluid"
										src="images/product-slider/6.jpg"
										class="card-img-top" alt="...">
									<div class="card-body">
										<h5 class="card-title center"> شامپو بچه سعیدی</h5>
										<br>
										<p class="card-text text-danger center">
											250,000 تومان</p>
										<hr>
										<a class="mybtn-1" href="#"><button type="button" class="btn btn-success"> اضافه به سبد </button></a>
										<a class="mybtn-1" href="#"><button type="button" class="btn btn-primary">اطلاعات بیشتر</button></a>
			
									</div>
								</div>
							</div>

			</div>

			<div class="row row-equal carousel-item m-t-0">
					<div class="col-md-3 col-sm-4 col-6">
							<div class="card">
								<img class="d-block img-fluid"
									src="images/product-slider/7.jpg"
									class="card-img-top" alt="...">
								<div class="card-body">
									<h5 class="card-title center"> شامپو بچه سعیدی</h5>
									<br>
									<p class="card-text text-danger center">
										250,000 تومان</p>
									<hr>
									<a href="#"><button type="button" class="btn btn-success"> اضافه به سبد </button></a>
									<a href="#"><button type="button" class="btn btn-primary">اطلاعات بیشتر</button></a>
		
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-4 col-6">
								<div class="card">
									<img class="d-block img-fluid"
										src="images/product-slider/8.jpg"
										class="card-img-top" alt="...">
									<div class="card-body">
										<h5 class="card-title center"> شامپو بچه سعیدی</h5>
										<br>
										<p class="card-text text-danger center">
											250,000 تومان</p>
										<hr>
										<a class="mybtn-1" href="#"><button type="button" class="btn btn-success"> اضافه به سبد </button></a>
										<a class="mybtn-1" href="#"><button type="button" class="btn btn-primary">اطلاعات بیشتر</button></a>
			
									</div>
								</div>
							</div>

			</div>

		</div>
		<!-- Load more -->
		<div class="flex-c-m flex-w w-full">
			<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
				مشاهده همه
			</a>
		</div>
		<br>
	</section>

	

	<!-- end of product slider -->

	{% endblock content %}


	