{% extends "base2.html" %}

{% load static %}

{% block background1 %}
	background: url('{% static 'images/signup_back2.jpg' %}') center center ;
	background-size: cover;
{% endblock background1 %}

{% block content %}




<br class="mybr">
<br class="mybr">
<br class="mybr">
<br class="mybr">
<br class="">
<br class="">
<br class="">
<div class = "container">
<nav aria-label="breadcrumb">
							
					<ol class="breadcrumb">
							<p> <i class="fa fa-caret-left" aria-hidden="true"></i> شما اینجا هستید:  &nbsp  &nbsp </p> 
					<li class="breadcrumb-item"><a href="/" class="text-primary">خانه</a></li>
					<li class="breadcrumb-item active" aria-current="page">ثبت نام کاربر</li>
					</ol>
				</nav>
			</div>	
	<!-- signup  -->
	<div class="limiter" dir="ltr">
		<div class="container-login100">
		
			<div class="wrap-login100">
				<!-- <div class="login100-pic js-tilt" data-tilt>
					<img src="login/images/img-01.png" alt="IMG">
				</div> -->

				<form class="login100-form validate-form" dir="rtl">
					<div class="row">
						<span class="login100-form-title">
								<i class="fa fa-sign-in" aria-hidden="true"></i>
							ثبت نام کاربر
						</span>
						<div class="col-lg-12 col-md-12 sm-12 col-12">
							<div class="mylable">
								<h6>نام</h6>
							</div>
							<div class="wrap-input100 validate-input" data-validate="&nbsp; نام خود را وارد نمایید">
								<input class="input100" type="text" name="fname">
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-user-circle my_fa" aria-hidden="true"></i>
								</span>

							</div>

							<div class="mylable">
								<h6>نام خانوادگی</h6>
							</div>
							<div class="wrap-input100 validate-input"
								data-validate="&nbsp; نام خانوادگی خود را وارد نمایید">
								<input class="input100" type="text" name="lname">
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-user-circle my_fa" aria-hidden="true"></i>
								</span>
							</div>

							<div class="mylable">
								<h6>نام کاربری</h6>
							</div>
							<div class="wrap-input100 validate-input" data-validate="&nbsp; یک نام کاربری انتخاب کنید">
								<input class="input100" type="text" name="username">
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-user my_fa" aria-hidden="true"></i>
								</span>
							</div>

							<div class="mylable">
								<h6>پست الکترونیک</h6>
							</div>
							<div class="wrap-input100 validate-input"
								data-validate="&nbsp; پست الکترونیک معتبر نمی باشد">
								<input class="input100" type="email" name="email">
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-envelope my_fa" aria-hidden="true"></i>
								</span>
							</div>

							<div class="mylable">
								<h6>تلفن همراه</h6>
							</div>
							<div class="wrap-input100 validate-input" data-validate="&nbsp; تلفن همراه معتبر نمی باشد">
								<input class="input100" type="number" name="phonenumber">
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-phone my_fa" aria-hidden="true"></i>
								</span>
							</div>

							<div class="mylable">
								<h6>تلفن ثابت</h6>
							</div>
							<div class="wrap-input100 validate-input" data-validate="&nbsp; تلفن ثابت معتبر نمی باشد">
								<input class="input100" type="number" name="phonenumber021">
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-phone my_fa" aria-hidden="true"></i>
								</span>
							</div>

							<div class="mylable">
								<h6>آدرس محل سکونت</h6>
							</div>
							<div class="wrap-input100 validate-input"
								data-validate="&nbsp; آدرس محل سکونت را وارد نمایید">
								<input class="input100" type="textarea" aria-label="With textarea" name="address">
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-address-card my_fa" aria-hidden="true"></i>
								</span>
							</div>

							<div class="mylable">
								<h6>کلمه عبور</h6>
							</div>
							<div class="wrap-input100 validate-input" data-validate="&nbsp;کلمه عبور را وارد نمایید">
								<input class="input100" type="password" name="pass">
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-lock my_fa" aria-hidden="true"></i>
								</span>
							</div>

							<div class="mylable">
								<h6>تکرار کلمه عبور</h6>
							</div>
							<div class="wrap-input100 validate-input"
								data-validate="&nbsp;تکرار کلمه عبور را وارد نمایید ">
								<input class="input100" type="password" name="pass">
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-lock my_fa" aria-hidden="true"></i>
								</span>
							</div>

						</div>

						<div class="container-login100-form-btn">
							<button class="login100-form-btn" style="width: 50%">
								ثبت نام کن
							</button>
						</div>
					</div>
				</form>
				<div class="text-center signup_footer">
					<a class="txt2" href="" data-toggle="modal" data-target="#exampleModal">
						حساب کاربری دارم
						<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</div>
	</div>

	<br>

	<!-- header modal login btn -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">ورود به سایت</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="username" class="col-form-label"><i class="zmdi zmdi-account-circle"></i>
								نام کاربری </label>
							<input type="text" class="form-control" id="username" required>
						</div>
						<div class="form-group">
							<label for="password" class="col-form-label"><i class="zmdi zmdi-key"></i>
								کلمه عبور</label>
							<input type="password" class="form-control" id="password" required>
						</div>
						<button type="button" class="btn btn-warning" data-dismiss="modal">حساب کاربری
							ندارم !</button>

				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-info" style="width:25%">ورود</button>
				</div>
				</form>

			</div>
		</div>
	</div>

{% endblock content %}