

.wrap-login100:hover{
	opacity: 1;
	transform: scale(1.011);
	box-shadow: 0px 0px 4px 1px #001d3e !important;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.login100-form-btn:hover{
	background: #00499c !important
}

.focus-input100 {
	display: block;
	position: absolute;
	border-radius: 25px;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 0px 0px;
	color: #025ec7;
  }

  .input100:focus + .focus-input100 + .symbol-input100 {
	color: #0062d1;
	padding-left: 28px;
	border: 1.5px solid #002d5f
  
  }

  .mytextarea{
	height: 150px !important;
	padding :5% 12% 5% 7% !important

  }
  